body {
  background-color: #aee;
  font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
main {
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: #666 0 0 10px;
}
main nav {
  padding: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: #ddd;
  border-radius: 1rem;
  box-shadow: #666 0 0 10px;
}
main nav button {
  padding: 0.5rem;
  margin-right: 1rem;
  float: right;
}
main table, main table tr { 
  width: 100%;
}
main table, main table tr, main table td {
  padding: 0;
  margin: 0;
}
main table td button {
  display: block;
  height: 50px;
  width: 50px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
}
main table td button.unknown {
  background-color: #999;
}